<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.hotel.mapper.UserInRoomMapper">
    <resultMap id="UserBookRoomModel" type="com.web.hotel.pojo.UserInRoom">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="user_id" jdbcType="INTEGER" property="userId" />
        <result column="room_id" jdbcType="INTEGER" property="roomId" />
        <result column="re" jdbcType="VARCHAR" property="re" />
        <result column="create_at" jdbcType="VARCHAR" property="createAt" />
        <result column="delete_at" jdbcType="VARCHAR" property="deleteAt" />
    </resultMap>

    <insert id="createRecord" parameterType="com.web.hotel.pojo.UserBookRoom">
        insert into user_in_room(user_id,room_id,create_at) values(#{userId,jdbcType=INTEGER},
                                                                      #{roomId,jdbcType=INTEGER},now());
    </insert>

    <update id="deleteRecordById" >
        update user_in_room set re = 1,delete_at = now() where user_id = #{userId,jdbcType=INTEGER} and room_id = #{roomId,jdbcType=INTEGER} and re = 0;
    </update>
</mapper>