<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.web.hotel.mapper.UserCostMapper">

    <insert id="CreateRecord" parameterType="com.web.hotel.pojo.UserCost">
        insert into user_cost(cost,info,user_id,create_at) values(#{cost,jdbcType=INTEGER},#{info,jdbcType=INTEGER},
            #{user_id,jdbcType=INTEGER},now());
    </insert>

</mapper>